@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("src/bg2.jpg") no-repeat center;
  background-size: cover;
  font-family: "Noto Sans KR", sans-serif;
}

body::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.loginform {
  position: relative;
  z-index: 2;
}

.loginform h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.login__input {
  width: 400px;
  position: relative;
  margin-top: 20px;
}

.login__input:first-child {
  margin-top: 0;
}

.login__input input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 18px;
  color: #000;
}

.login__input label {
  position: absolute;
  left: 10px;
  top: 20px;
  color: #999;
  font-size: 17px;
  transition: all 0.4s ease;
}

.login__input input:focus + label,
.login__input input:valid + label {
  top: -2px;
  font-size: 13px;
  color: blue;
}

.warning {
  color: red !important;
  animation: warning 0.3s ease;
  animation-iteration-count: 3;
  animation-name: warning-res;
}

@keyframes warning-res {
  0% {
    transform: translateX(-8px);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
}

.login__btn {
  margin-top: 25px;
}

.login__btn button {
  width: 100%;
  height: 50px;
  font-size: 17px;
  color: #fff;
  background-color: dodgerblue;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.caption {
  margin-top: 20px;
  text-align: center;
}

.caption a {
  text-decoration: none;
  color: #999;
  font-size: 15px;
}
